@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0d2d1;
  font-family: 'Inter', Arial, sans-serif;
  color: #4a3311;
}

.page {
  width: 100%;
  min-height: 80vh;
}

nav{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:rgba(255,255,255,.75);
    backdrop-filter:blur(10px);
    position:sticky;
    top:0;
    z-index:100;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.logo{
    font-family:"Meie Script",cursive;
    font-size:42px;
    text-decoration:none;
    color:var(--text);
     font-weight:600;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:var(--text);
    font-weight:600;
    transition:.3s;
}

nav a:hover,
nav .active{
    color:var(--blue);
}

.grid-section {
  max-width: 1152px;
  margin: 0 auto;
  padding: 64px 24px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.project-card {
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.12);
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  display: block;
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}